{{! {{#each questions}}
  <h5>{{title}}</h5>
  <form action="#">
    {{#each answers}}
      <p>
        <input type="radio" name="{{../question}}" id="{{../question}}">
        <label for="{{../question}}">{{answer}}</label>
      </p>
    {{/each}}
  </form>
{{/each}} }}
